@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans';
}

/* *************************************side bar ***************************/

.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;  
     z-index: 1; /*Stay on top */
    top: 0; /*Stay at the top */
     left: 0;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 10rem;
    background-color: rgb(27,57,202,0.2);
}

img{
    height: 2.8rem;
}

 body {
    display: flex;
    flex-direction: row;

   
    place-items: center;
    overflow: scroll;
    
    background: linear-gradient(-45deg, #2e6d1e,rgb(27,57,202,1),#371a7cc0, rgb(27,57,202,1),#b351cc,rgb(27,57,202,1),#47863f, rgb(27,57,202,1));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; 
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%; 
    }
    100% {
        background-position: 0% 50%;
    }
}  

/* ////////////////////////////////// button animation ///////////////////////////////////////// */

.button-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    height: 100px;
    width: 100px;
    margin: 3rem 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    opacity: 0.;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    scroll-behavior: smooth;
  
}

.button-logo:hover{
    background: linear-gradient(90deg,#3bb379,#264ED4,#4fa8f0);
    background-size: 400%;
}

.button-logo:before{
    content:'';
    position:absolute;
    background: inherit;
    top:-5px;
    right:-5px;
    bottom: -5px;
    left:-5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition:opacity 0.5s;
}

.button-logo:hover:before{
    opacity: 1;
    z-index:-1;
}

button:hover{
    z-index: 1;
    animation: glow  10s linear infinite;
}

@keyframes glow{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
    
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++ box-views ++++++++++++++ */

.box-views{
width: 80%;
 
   
   
}
#logo-editor-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #141d2d4f;
    width: 100vw;
    height: 80vh;
}
#calendar-link{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(74, 0, 248, 0.301);
 width: 100vw;
    height: 100vh;
    text-align: center;
    
}
#lessons-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(8, 9, 19, 0.377);
    width: 100vw;
    height: 100vh;
}
#exercise-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(131, 207, 10, 0.596);
    width: 100vw;
   text-align: center;
    height: 100vh;
}
#whiteboard-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 6rem;
    background-color: rgba(255, 255, 255, 0.39);
    width: 100vw;
    height: 100vh;
}

#profile-link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(73, 216, 97, 0.521);
}
.whiteboard-tools-box{
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 4vw;
    height: 100vh;
    margin-left: -80%;
    background-color: rgb(255, 255, 255,0.2);
}


.whiteboard-tools {
display: flex;
flex-direction: column;
align-items: center;
justify-content:space-evenly;
margin-left: 0rem;
margin-top: 0%;
height: inherit;

}

@media (max-width: 1025px) {

    body{
display: flex;
flex-direction: column;
    }
    .sidebar{
        display: flex;
        flex-direction: column;
        z-index: 1; /*Stay on top */
        top: 1rem; /*Stay at the top */
      
        align-items: center;
        justify-content: space-evenly;
        height: 10rem;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.164);
       
       
        
    }

    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: inherit;
        background-color: rgba(0, 128, 128, 0.479);
        margin: 1rem;
    }
    .button-logo{
        margin: 1rem;
    }
    .whiteboard-tools{

        opacity: 0;

    }
    .whiteboard-tools-box{
      
     
        opacity: 0;

      
    }
   }